html {
   font-family: 'Imprima', sans-serif;
   padding: 20px;
   color: #314543;
}

header {
   margin: 10px;
   padding: 40px;
   height:50px;
   width:100%;
   position:relative;
}

ul {
   font-family: 'Cantata One', serif;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

ul li {
   float: left;
   width: 200px;
   font-size: 1.2em;
}

a:link {
   display: block;
   color: black;
   text-align: center;
   padding: 15px;
   text-decoration: blink;
}

a:hover, a:active {
   color:white;
   background-image: url('../img/estonia_header.jpg');
}

h1 {
   font-family: 'Cantata One', serif;
   font-size: 2.5em;
   line-height: 1.5em;
}


h2 {
   margin-bottom: 30px;
   font-family: 'Cantata One', serif;
}

div p {
   font-size: auto;
   line-height: 20px;
   margin-bottom: 30px;
}

br div {
   margin-left: 300px;
}

p q {
   font-size: 1.2em;
}

q:before {
   content: "“";
}

q:after {
   content: "”";
}

#cf {
   float: left;
   position:relative;
   height:300px;
   width:300px;
   padding: 30px;
   margin:0 auto;
}

#cf img {
   position:absolute;
   height:300px;
   width:300px;
   left:0;
   -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;
   transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

h3 {
   margin-top: 40px;
   margin-bottom: 16px;
   font-family: 'Cantata One', serif;
   font-size: 1.5em;
}

ol li {
   list-style-type: upper-roman;
   line-height: 20px;
   margin-top: 8px;
   margin-bottom: 8px;
}

h4 {
   margin-top: 70px;
   margin-bottom: 20px;
   font-family: 'Cantata One', serif;
   font-size: 1.5em;
}

strong {
   font-style: italic;
}

footer {
   font-size: .75em;
}

