body {
	font-family: 'Imprima', sans-serif;
	padding: 20px;
	color: #314543;
}

header {
	margin: 20px;
	padding: 15px;
	height:60px;
	position:relative;
}

ul {
	font-family: 'Cantata One', serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul li {
	float: left;
	width: 200px;
	font-size: 1.2em;
}

a:link {
	display: block;
	color: black;
	text-align: center;
	padding: 15px;
	text-decoration: blink;
}

a:hover, a:active {
	color:white;
	background-image: url('../img/estonia_header.jpg');
}

h1 {
	font-family: 'Cantata One', serif;
	font-size: 2.5em;
	line-height: 1.5em;
	color: #991186;
	margin-top: 20px;
}

h2 {
	margin-bottom: 30px;
	font-family: 'Cantata One', serif;
}

#cf {
	float: left;
	position:relative;
	height:300px;
	width:300px;
	padding: 30px;
	margin:0 auto;
}

#cf img {
	position:absolute;
	height:300px;
	width:300px;
	left:0;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}

h3 {
	margin-top: 80px;
	margin-bottom: 16px;
	font-family: 'Cantata One', serif;
	font-size: 1.5em;
}

ol li {
	list-style-type: upper-roman;
	line-height: 20px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: fixed;
}

strong {
	font-style: italic;
}

h4 {
	color: #991186;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: 'Cantata One', serif;
	line-height: 1.6em;
}

h5 {
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: 'Cantata One', serif;
	font-size: 1.5em;
}

div p {
	line-height: 1.6em;
	margin-bottom: 30px;
}

q:before {
	content: "“";
}

q:after {
	content: "”";
}

footer {
	font-size: .75em;
}
