@import '_base.scss';
@import '_mixins.scss';

$font-header: Helvetica, sans-serif;
$font-main: 'Crimson Text', serif;
$font-size-header: 15em;
$color: white;
$bg-color: #222222;


html{
  background: url(../img/tallin.jpg) no-repeat center center fixed;
  width: 100%
}


.title {
  color: $color;
  font-family: $font-header;
  font-size: $font-size-header;
  text-shadow: 8px 8px rgba(0, 0, 0, 0.6);
  float: left;
  width: 60%;
  padding: 30px;
  margin-bottom: 60px;
  letter-spacing: 5px;
}

span {
  letter-spacing: 13px;
}

.menu {
  color: $color;
  font-family: $font-header;
  font-size: 4em;
  line-height: 1.4em;
  letter-spacing: 3px;
  text-align: right;
  padding: 30px 90px 30px 30px;
  margin: 60px 0;
  background: $bg-color;
  opacity: 0.8;
  float: right;
  width: 20%;
}

a {
  text-decoration: none;
  color: $color;
}

a:hover {
  color: $bg-color;
  background-color: $color;
}

#img {
  max-width: 240px;
  float: left;
  padding-right: 30px;
}


h1 {
  color: $color;
  font-family: $font-main;
  font-size: 2em;
  background: $bg-color;
  padding: 60px 30px;
  line-height: 1.4em;
  letter-spacing: 3px;
  clear: both;
  opacity: 0.8;
}

ol {
  list-style: upper-roman;
  padding-left: 60px;
}

strong {
  font-family: $font-header;
  line-height: 2em;
  font-size: 1.3em;
}

p {
  color: $color;
  font-family: $font-main;
  font-size: 1.5em;
  background: $bg-color;
  padding: 0px 30px;
  line-height: 1.4em;
  letter-spacing: 3px;
  clear: both;
  opacity: 0.8;
}

.review {

}